<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codewithkomal.semesterproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SemesterProject">
        <activity android:name=".editProfile"></activity>
        <activity android:name=".boyList2" />
        <activity android:name=".boyList1" />
        <activity android:name=".girlList2" />
        <activity android:name=".girlList1" />
        <activity android:name=".Category2" />
        <activity android:name=".Category1" />
        <activity android:name=".Home" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".Profile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>